@tailwind base;
@tailwind components;
@tailwind utilities;

.card_img--incorrect {
  filter: brightness(0);
  scale: 1.5;
}

.card_img--correct {
  scale: 1.5;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 20px;
  }

  form {
    margin: 5px;
  }

  input {
    width: 200%;
  }

  button {
    display: block;
    width: 50%;
    padding: 10px 5px;
  }
  
}