@tailwind base;
@tailwind components;
@tailwind utilities;

.card_img--incorrect {
  filter: brightness(0);
  scale: 1.5;
}

.card_img--correct {
  scale: 1.5;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  form {
    margin: 10px;
  }

  input {
    width: 100%;
  }

  button {
    display: block;
    width: 20%;
    padding: 10px 5px;
  }
  
}